<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Item</title>
    <link rel="stylesheet" href="/css/style.css">
<script src="https://kit.fontawesome.com/29a9bad99d.js" crossorigin="anonymous"></script>



</head>
<body>